<footer>
  <p>
    Course by
    <%= link_to 'The Pragmatic Studio','https://pragmaticstudio.com' %>
    &copy; 2005-<%= Time.now.year %>
  </p>
  <p>
    Revamped/Enhanced by
    <%= link_to 'JK Arche','https://jkdevfolio.netlify.app/' %>
    &copy; 2022-<%= Time.now.year %>
  </p>
</footer>
